header{
    background-color: white;
    height: 80px;
    font-size: 30px;
    text-align: center;
    border-bottom: 2px black solid;
}

.version{
    font-size: 20px;
}


h1{
    font-size: 25px;
    font-weight: 150;
    padding: 0.1em 0.3em;
	border-left: 10px solid #00BCD4;
}

h2{
    font-size: 20px;
    font-weight: 120;
    padding: 0.07em 0.2em;
	border-left: 10px solid yellow;
}

table,td,th{
    border:black solid 1px;
    border-collapse: collapse;
}

td:nth-of-type(1){
    text-align: center;
}

td:nth-of-type(2),td:nth-of-type(3){
    text-align: right;
}


@media screen and (max-width:480px) {

	header{
        font-size: 20px;
        height: 60px;
    }

    .version{
        font-size: 15px;
    }

    #grade {
        width: 100%;
    }

    #enter, #post {
        text-align: center;
    }

}
